<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
      <a href="#" class="navbar-brand">Recipe Book</a>
      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="navToggler">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navToggler" [collapse]="isCollapsed" [isAnimated]="true">
      <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onSelect('recipe')">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onSelect('shopping-list')">Shopping List</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-md-right">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
